$primaryColor: var(--primary-color);
$secondaryColor: var(--secondary-color);
$backGroundColor: var(--background-color);
$foreGroundColor: var(--foreground-color);
$highLightColor: var(--highlight-color);
$fontHeadLine: var(--font-headline);

body {
  background-color: $foreGroundColor;
  height: 100vh;
  color: $primaryColor;
}
.container {
  // border: 5px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  margin-top: 2rem;
}

/* player */
.player {
  padding: 0.5rem;
  background-color: $backGroundColor;
  width: 450px;

  display: flex;
  flex-direction: column;
}

.player-title {
  display: flex;
  column-gap: 0.5rem;
  padding: 0.5rem;
  background-color: $foreGroundColor;
}

/* player-content안에 img와 player-display가 있음 */
.player-content {
  display: flex;
  column-gap: 1rem;
  padding: 1rem;
  background-color: $foreGroundColor;
  margin-top: 1rem;

  img {
    width: 150px;
    height: 150px;
  }
  .player-display {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding: 1rem;
    background-color: $backGroundColor;
  }
}

.artist-display {
  // border: 5px solid red;
  height: 60px;
  color: $highLightColor;
}

.song-title {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.artist-name {
  font-size: 1.2rem;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: $backGroundColor;
  width: 230px;

  svg {
    fill: $primaryColor;
  }
}

button {
  background: transparent;
  border: none;
  color: $primaryColor;
  cursor: pointer;
}

/* playlist */
/* playlist에는 playlist-title과 playlist-songs로 이루어져 있다  */
.playlist {
  background-color: $backGroundColor;
  width: 450px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;

  .playlist-title {
    display: flex;
    column-gap: 0.5rem;
    background-color: $foreGroundColor;
    padding: 0.5rem;
  }
  .playlist-songs {
    display: flex;
    flex-direction: column;
  }
}

/* li태그  */
.playlist-song {
  display: flex;
  column-gap: 0.8rem;
  width: 100%;
  background-color: $foreGroundColor;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0.2rem;

  border-bottom: 2px solid $backGroundColor;
}

/* playlist-song, 즉 li태그는 playlist-song-info하구  playlist-song-delete로 이루어져있따*/
.playlist-song-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .playlist-song-artist {
    margin-right: 0.5rem;
  }
}

.playlist-song-delete circle:hover {
  fill: #ff0000;
}
.yellow-line-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.45rem;
}

.yellow-line {
  width: 100%;
  height: 0.25rem;
  background-color: $highLightColor;
}

.title {
  font-style: $fontHeadLine;
  font-size: 2rem;
}

/* reset */
.reset {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $foreGroundColor;
  cursor: pointer;
}

// onClick했을때 color바꿀려면?

.gray {
  background-color: $foreGroundColor;
}

.navy {
  padding-top: 1rem;
  background-color: $backGroundColor;
}

.yellow svg {
  fill: $highLightColor;
}
