.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(3, 100px);
}

.card,
.card-click {
  border: 1px solid blue;
  cursor: pointer;
  background-color: transparent;
  perspective: 1000px;
}

.card .card-inner {
  width: 100%;
  height: 100%;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-click .card-inner {
  transform: rotateY(180deg);
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}
