.container {
  // height: 100vh;
  background-color: var(--dark-blue);
}

.calorie_counter_container {
  background-color: var(--dark-blue);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  // height: 100vh;
}

.title {
  font-size: 30px;
  font-weight: 900;
  color: white;
  margin-bottom: 10px;
}

.form__container {
  color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  & .fieldset {
    font-size: 20px;
    border: 1px solid white;
    padding: 1rem;
  }
}

.budget__container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: 20px;
  font-weight: 700;

  & .budget-input {
    height: 25px;
    width: 150px;
  }
}

.controls {
  padding: 10px;
  display: flex;
  column-gap: 15px;
}

.dropdown-container {
  position: relative;
  display: flex;
  width: 260px;
  align-items: center;
  font-weight: 700;
}

.label {
  font-size: 16px;
}
.dropdown {
  position: absolute;
  right: 0;
  list-style: none;
}
.selected-menu {
  width: 80px;
}

// 버튼
.button__container {
  display: flex;
  column-gap: 10px;
}

// entry추가 버튼
.add-entry {
  min-height: 2.4rem;
}

// button공통
button {
  background-color: var(--light-yellow);
  border: 2px solid var(--dark-yellow);
  cursor: pointer;
  text-decoration: none;
  padding: 3px;
}

// input
input {
  height: 20px;
}

// new filed
.new__field {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 10px;
}

// output container
.output-container {
  border: 2px solid var(--light-grey);
  padding: 1rem;
  text-align: center;
  font-size: 24px;
  margin: 20px auto;
  color: var(--light-grey);
  width: 500px;
  // height: 150px;
  background-color: var(--dark-blue);
}

.deficit {
  color: var(--light-green);
  font-weight: bold;
  font-size: 1.2rem;
}
